* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    border: 2px solid orange;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s;
}

.navbar a:hover {
    background-color: orange;
    color: black;
    border-radius: 20px;
}

.navbar input {

    padding: 3px 4px;
}

.search {
    color: white;
    padding: 12px 75px;
    height: 45px;
    width: 200px;
    border-radius: 10px;
}

.container {
    /* height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(247, 170, 6), white);
    align-items: center;
    align-content: center; */
   
        width: 100%;
        height: 100vh;
        background-image: url("signinbg.jpg");
        background-size: cover;
    
}

.form-box {
    margin-top: 70px;
    border-radius: 40px;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2b2929;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: orange;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: rgb(242, 233, 233);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    color: #999;
    font-size: 13px;
    font-weight: 100;
    text-decoration: none;
}

form p a {
    color: rgb(246, 190, 88);
    text-decoration: none;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-field button {
    flex-basis: 48%;
    background: rgb(243, 160, 6);
    color: #fff;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 280px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.btt {
    background-color: rgb(53, 49, 49);
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btt a {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: 200;
}
.btt a:hover{
    color:orange;
}

.About {
    color: orange;
    text-decoration: underline;
    border-radius: 50px;
    padding: 4px 4px;
}

.footer {
    height: 300px;
    width: auto;
    background-color: #070606;
    display: flex;
}

ul {
    justify-content: center;
    align-content: center;
    text-align: left;
    padding: 60px;
}

ul h4 {
    color: #db9003;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0,3px,3px,3px;
    padding-bottom: 10px;
}

ul p {
    color: #fff;
    display: block;
    padding: 5px
}

.foot {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(79, 79, 71);
    background-color: #f1f1f1;
}